<div class="container">
    <h1>Plans</h1>
    <div class="row">
        {{#each plans}}
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{planname}}</h5>
                    <p class="card-text">{{email}}</p>
                    <a href="/users/{{id}}" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>