<div class="card h-100">
    <img src="https://placehold.co/600x400" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{plan.planname}}</h5>
        <p class="card-text">{{plan.date.cuisineType}}</p>
        <div class="mb-3">
            {{#each plan.cuisineTypes as |cuisineType|}}
            <span class="badge text-bg-secondary me-2">{{cuisineType}}</span>
            {{/each}}
        </div>
        <a class="btn btn-outline-primary" href="/plans/{{plan._id}}">Ver más detalles</a>
    </div>
</div>