<div class="container mt-3">
    <div class="d-flex flex-column text-center align-items-center gap-2">
        <img class="rounded-circle border" src="{{currentUser.avatar}}" width="100" />
        <div>
            <h4>{{currentUser.username}}</h4>
            
            <a href="./users/edit-profile" class="btn btn-primary mt-5 btn-custom" style="background-color: rgb(15, 6, 20); border-color: orange;">Editar perfil</a>
        </div>
    </div>

  
    

    <h2 class="mt-4">Mis planes</h2>
    {{#if createdPlans}}

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {{#each createdPlans as |plan|}}
        <div class="col">
            {{> plancard plan=plan}}
        </div>
        {{/each}}
    </div>

    {{else}}
    <p>No tienes planes creados aún. Visita <a href="/plans/create-plan">nuestro creador de planes</a></p>
    {{/if}}


