.carousel-caption {
  position: absolute;
  right: -22%; /* Ajusta el valor según sea necesario */
  bottom: 1.25rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

@media (max-width: 768px) {
  .carousel-caption {
    right: 0; /* Cambia la posición para dispositivos móviles */
  }
}
